<!-- Import Polymer -->
<link rel="import" href="../app/bower_components/polymer/polymer.html">

<!-- Define your custom element -->
<polymer-element name="notification-elements" attributes="header body icon duration onclick">
    <script>
        Polymer('notification-elements', {
            
            /* -- Attributes ------------------------- */
            body: null,
            title: null,
            icon: null,
            dir: null,
            tag: null,
            autostart : false,
            permission: false,

            /* -- Lifecycle ------------------------- */
            created: function() {
                // Check if the browser supports desktop Notification
                if (!('Notification' in window)) {
                    console.log('This browser does not support desktop notification :( ');
                }
            },

            // Check the permissions and initialize the attributes
            ready: function() {
                // Check if we have permission to use Notification
                if (Notification.permission === 'granted') {
                    this.permission = true;
                }
                // Ouch, we don't have permission, so, lets ask for it unless the user denied it
                else if (Notification.permission !== 'denied') {
                    Notification.requestPermission(function (permission) {

                        if(!('permission' in Notification)) {
                            Notification.permission = permission;
                        }

                        // Yay, we have the permission
                        if (permission === 'granted') {
                            this.permission = true;
                        }

                    } );
                }
                // If we have the permission, finally initialize attributes
                if (this.permission){
                    this.title = this.header || '';

                    // Put the attrs at the options attr
                    this.options = {
                        body: this.body || '',
                        dir: this.dir || 'auto',
                        icon : this.icon,
                        lang: this.lang,
                        tag: this.tag || 'notification-element'
                    }

                    // Call notify if it autostart 
                    if (this.autostart) {
                        this.notify();
                    }
                }
            },
            // run the notification
            notify: function() {
                if (this.permission) {
                    var notification = new Notification(this.title, this.options);
                }
            },

            // Events
            onclick: function() {

            },

            onshow: function() {
                setTimeout(function () {                    
                    notification.close();
                }, 10000); 
            } 
        });
    </script>
</polymer-element>